

after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}


body {
  background-color: rgb(9, 17, 61);
  color: rgb(173, 177, 181);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  text-align: center; 
}


a:link {
  color: darkorchid;
  text-decoration: none;
}
a:visited {
  color: darkorchid;
}
a:hover,
a:focus {
  color: darkmagenta;
  text-decoration: underline;
}
a:active { 
  opacity: 0.9;
}


main {
  
  width: 90%;
 
  margin: 0 auto;
 
  max-width: 1200px;
  
  text-align: left;
  

  background: #fff;
  color: #222;
  border-radius: 12px;
}


h2 {
  text-align: center;
  margin-top: 0.5rem;
}


img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0.5rem auto;
}

figure {
  text-align: center;
  font-style: italic;
  margin: 1rem auto;
}


#colorbox {
  height: 200px;
  width: 200px;
  background: blue;
  margin: 50px auto;
}



@media screen and (min-width: 981px) and (max-width: 1400px) {
  #colorbox { background-color: #ACC8E5; } 
  main { width: 92%; }
}


@media screen and (min-width: 601px) and (max-width: 980px) {
  #colorbox { background-color: D1CAA1; } 
  main { width: 94%; }
}


@media screen and (min-width: 370px) and (max-width: 600px) {
  #colorbox { background-color: #112A46; } 
  main { width: 95%; }
}


@media screen and (max-width: 369px) {
  main { width: 96%; padding: 0.75rem; }
}
