body{
    background-color:goldenrod;
    text-align: center;
    color:brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 a {
    color:darkorchid
    text-decoration none;
}

a:hover {
    color:darkmagenta;
}
main{
    text-align:left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align: center;
}
img{
    width:50%;
}
figure{
    text-align: center;
    font-style: italic;
}