<nav>
            <!-- Should take to linkedin profile -->
                <a href="https://www.linkedin.com/in/harry11d/">LinkedIn</a> 
                ||
                <a href="https://github.com/Hsingh440/">GitHub</a> <!-- Should take to github profile -->
                ||
                <a href="https://github.com/Hsingh440/hsingh440.github.io/">Github.io</a> <!-- Should take to github page -->
                ||
                <a href="https://uncc.instructure.com/courses/...">ITIS 3135</a> <!-- Should take to itis page -->
                ||
                <a href="https://charlotte.edu">CLT Web</a> <!-- Should take to clt page -->
                ||
                <a href="https://www.freecodecamp.org/hsingh19">freeCodeCamp</a>
                ||
                <a href="https://www.codecademy.com/profiles/hsingh19">Codecademy</a>

        </nav>
    <p>  Page Built by a <a href="singhsoftware.com/">Singh Software Enterprises</a> &copy; 2025</p>

    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img src="https://cdn.voison.link/divonb/htmlValidationButton.png"  style="border:0;width:88px;height:31px" alt="Validate webpage HTML." />
    </a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
  <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>