<nav>
            <!-- Should take to linkedin profile -->
                <a href="https://www.linkedin.com/in/harry11d/">LinkedIn</a> 
                ||
                <a href="https://github.com/Hsingh440/">GitHub</a> <!-- Should take to github profile -->
                ||
                <a href="https://github.com/Hsingh440/hsingh440.github.io/">Github.io</a> <!-- Should take to github page -->
                ||
                <a href="https://uncc.instructure.com/courses/...">ITIS 3135</a> <!-- Should take to itis page -->
                ||
                <a href="https://charlotte.edu">CLT Web</a> <!-- Should take to clt page -->
                ||
                <a href="https://www.freecodecamp.org/hsingh19">freeCodeCamp</a>
                ||
                <a href="https://www.codecademy.com/profiles/hsingh19">Codecademy</a>

        </nav>
    <p>  Page Built by a <a href="singhsoftware.com/">Singh Software Enterprises</a> &copy; 2025</p>

   