<header>
<h1>Harsimran Singh's Heroic Stallion || ITIS 3135</h1>
      <nav>
            <a href="./">Home</a> 
            || 
            <a href="introduction.html">Introduction</a> 
            || 
            <a href="contract.html">Contract</a>
      </nav>
      <nav>
            <a href="Heroic Stallion/about.html">Heroic Stallion</a> 
            ||
            <a href="stuff/THIS PAGE IS BAD & WOW.html">CRAPPY</a> 
            ||
            <a href="Hobby/index.html">Hobbies</a>
            ||
            <a href="websiteevaluation.html">Web Evaluations</a>
            ||
            <a href="intro_form.html">Intro Form</a>
            ||
            <a href="project_overview.html">Client Project</a>
      </nav>
</header>